*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-font: "Inter", serif;
    --nav-font-color: #2E86C1;
    --content-blue: #0C5CA7;
    --content-red: #E20B26;
    --content-green: #77B82A;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown{
    list-style: none;
}

.dropdown-menu{
    position: absolute;
    display: none;
    width: 100px;
    background-color: #2E86C1;
    padding: 15px;
    border-radius: 5px;
    width: 250px;
}

.dropdown-menu a{
    display: block;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.a--dropdown{
    text-decoration: none;
    font-family: var(--primary-font);
    color: #fff;
    font-size: 16px;
    padding: 15px;
    border-bottom: 1px solid #fff;
}

.img--logo{
    height: 150px;
}

.img--usuario{
    height: 70px;
}

.header--nav{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav--links{
    font-family: var(--primary-font);
    color: var(--nav-font-color);
    text-decoration: none;
    font-size: 24px;
    padding: 20px;
}

.nav--login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.container--img{
    width: 100%;
    height: 400px;
}

.img--banner{
    width: 100%;
}

.container--servicos{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vh;
}

.container--servico-card{
    width: 300px;
    padding-bottom: 50px;
    background-color: #fff;
}

.a--servico{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #76C0F163;
    font-family: var(--primary-font);
    color: var(--content-blue);
    font-size: 20px;
    font-weight: bold;
}

.img--servico{
    padding-bottom: 5px;
    border-bottom: 1px solid #76C0F1;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
}

.container--servico-card:hover{
    color: #fff;
}

.a--servico:hover{
    background-color: var(--content-blue);
    color: #fff;
    border: 2px solid #FFF;
}

.span--servico:hover{    
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: bold;
}

.posts--conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.span--posts {
    display: flex;
    font-family: var(--primary-font);
    font-size: 24px;
    color: #fff;
    padding: 40px 40px 40px 40px;
    background-color: var(--content-blue);
    font-weight: bold;
}

.container--posts{
    width: 100%;
    background-color: var(--content-blue);
    margin-bottom: 20vh;
}

#posts {
    padding: 75px 0;
}

.posts {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 90%;
    margin: 0 auto;
}

.container--posts {
    position: relative;
    overflow: hidden;
}

.post--card {
    min-width: 300px;
    margin: 0 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: var(--primary-font);
}

.img--post {
    width: 100%;
    height: 250px;
}

.post--link {
    font-size: 25px;
    text-decoration: none;
    color: #000;
}

.pre-btn,
.nxt-btn {
    position: absolute;
    background: transparent !important;
    height: -webkit-fill-available;
    border: none;
    cursor: pointer;
    z-index: 10;
    width: 75px;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.container--footer{
    display: flex;
    padding: 20px;
    background-color: var(--content-blue);
    font-family: var(--primary-font);
    color: #fff;
    font-size: 16px;
}

.body--login{
    background-image: url(../imgs/LoginBG.png);
}

.logo--login{
    width: 300px;
    height: 180px;
}

.container-login-geral{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--conteudo-login{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 950px;
    background-color: #F4F8FB;
}

.container--login-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.container--login-main{
    display: flex;
    width: 100%;
}

.container--login-form{
    width: 50%;
    padding: 50px;
}

.container--login-img{
    width: 50%;
}

.img--login{
    width: 700px;
    height: 450px;
}

.h1--titulo{
    color: var(--nav-font-color);
    font-family: var(--primary-font);
    padding-bottom: 24px;
}

.container--login-input{
    font-family: var(--primary-font);
    color: var(--nav-font-color);
    font-size: 20px;
    padding-bottom: 40px;
}

.input--login{
    font-family: var(--primary-font);
    color: var(--nav-font-color);
    font-size: 20px;
    border: none;
    border-bottom: 1px solid var(--nav-font-color);
    background-color: transparent;
    padding: 5px;
    width: 500px;
    outline: none;
}

.button--login{
    background-color: var(--content-red);
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-family: var(--primary-font);
    font-size: 20px;
}

.button--login:hover{
    cursor: pointer;
}

.span--login{
    font-family: var(--primary-font);
    color: #818181;
    font-size: 20px;
}

.a--login-form{
    text-decoration: none;
    font-family: var(--primary-font);
    color: var(--nav-font-color);
    font-size: 20px;
}

.container--login-span{
    padding-top: 60px;
}

.nav--login-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}

.enviar{
    text-align: center;
    background-image: url(../imgs/Wave.png);
    padding-top: 130px;
    padding-bottom: 50px;
}

.span--enviar{
    font-family: var(--primary-font);
    color: #767676;
    font-size: 20px;
}

.input--enviar{
    font-family: var(--primary-font);
    color: #767676;
    font-size: 20px;
    padding: 5px;
    width: 350px;
    border: none;
    outline: none;
    border-radius: 50px;
}

.button--enviar{
    background-color: var(--content-green);
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-family: var(--primary-font);
    font-size: 20px;
    padding: 5px;
}

.button--enviar:hover{
    cursor: pointer;
}

.button--recuperarSenha{
    background-color: #005DAB;
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-family: var(--primary-font);
    font-size: 20px;
}

.button--recuperarSenha{
    cursor: pointer;
}

.img--esqueceuSenha{
    width: 500px;
}

.body--agendamento{
    background-color: #F4F8FB;
}

.container--agendamento-lista{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    background-color: var(--content-blue);
}

.h1--agendamento{
    font-family: var(--primary-font);
    color: #fff;
    font-size: 30px;
    padding: 40px;
}

.a--agendamento{
    font-family: var(--primary-font);
    background-color: #fff;
    text-decoration: none;
    color: var(--content-blue);
    font-size: 24px;
    padding: 10px;
    width: 300px;
    text-align: center;
    margin-left: 40px;
    border-radius: 50px;
}

.container--agendamento-pacientes{
    width: 50%;
}

.container--agendamento-conteudo{
    display: flex;
}

.h2--agendamento{
    font-family: var(--primary-font);
    color: var(--content-blue);
    font-size: 28px;
    padding: 40px;
}

.container--agendamento-card{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    background-color: #fff;
    margin-left: 40px;
    padding: 50px;
    border-radius: 20px;
}

.container--agendamento-card-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-titulo, .card-informacao{
    display: flex;
    justify-content: space-around;
    font-family: var(--primary-font);
    font-size: 20px;
    text-align: left;
}

.h3--card{
    color: var(--content-blue);
    padding-bottom: 25px;
    padding: 20px 60px;
}

.agendamento-tipo-rotina{
    color: #E8AE00;
}

.agendamento-tipo-raiox{
    color: #17BFDD;
}

.agendamento-tipo-neonatal{
    color: #A8109E;
}

.span--agendamento{
    color: #B5B5B5;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: left;
}

.img--calendario{
    width: 600px;
    padding-left: 400px;
}

.a--seta:hover{
    cursor: pointer;
}

.container--paciente-lista{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    background-color: var(--content-blue);
}

.h1--paciente{
    font-family: var(--primary-font);
    color: #fff;
    font-size: 30px;
    padding: 40px;
}

.a--paciente{
    font-family: var(--primary-font);
    background-color: #fff;
    text-decoration: none;
    color: var(--content-blue);
    font-size: 24px;
    padding: 10px;
    width: 300px;
    text-align: center;
    margin-left: 40px;
    border-radius: 50px;
}

.h2--paciente{
    font-family: var(--primary-font);
    color: var(--content-blue);
    font-size: 30px;
    padding: 15px;
}


.container--paciente-conteudo{
    display: flex;
    justify-content: center;
    margin: 40px;
}

.container--pacientes-pacientes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-paciente-card-titulo{
    font-family: var(--primary-font);
    font-size: 30px;
}

.container--paciente-card-estavel{
    display: flex;
    justify-content: space-around;
    width: 1400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    border-left: 40px solid var(--content-green);
}

.container--paciente-card-observacao{
    display: flex;
    justify-content: space-around;
    width: 1400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    border-left: 40px solid #FFC107;
}

.container--paciente-card-grave{
    display: flex;
    justify-content: space-around;
    width: 1400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    border-left: 40px solid var(--content-red);
}

.span--paciente{
    font-family: var(--primary-font);
    font-size: 30px;
    background-color: var(--nav-font-color);
    color: #fff;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
}

.container--paciente-card-estavel, .container--paciente-card-observacao, .container--paciente-card-grave{
    margin: 40px;
}

.button--paciente{
    height: 80px;
    padding: 10px;
    font-family: var(--primary-font);
    font-size: 30px;
    background-color: var(--nav-font-color);
    color: #fff;
    border-radius: 20px;
    border:none;
}

.container--paciente-informacoes1{
    font-family: var(--primary-font);
    font-size: 30px;
    color: var(--content-blue);
    display: none;
    flex-direction: column;
    width: 1500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
}

.container--paciente-informacoes2{
    font-family: var(--primary-font);
    font-size: 30px;
    color: var(--content-blue);
    display: none;
    flex-direction: column;
    width: 1500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
}

.container--paciente-informacoes3{
    font-family: var(--primary-font);
    font-size: 30px;
    color: var(--content-blue);
    display: none;
    flex-direction: column;
    width: 1500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
}

.container--paciente-informacoes4{
    font-family: var(--primary-font);
    font-size: 30px;
    color: var(--content-blue);
    display: none;
    flex-direction: column;
    width: 1500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
}

.container--paciente-informacoes5{
    font-family: var(--primary-font);
    font-size: 30px;
    color: var(--content-blue);
    display: none;
    flex-direction: column;
    width: 1500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
}

.container--chat-main{
    display: flex;
}

.container--chats{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 900px;
}

.h2--chats{
    background-color: var(--content-blue);
    color: #fff;
    font-family: var(--primary-font);
    padding: 20px;
    font-size: 28px;
}

.container--chat-pesquisa{
    display: flex;
    align-items: center;
    padding: 20px;
}

.input--chat{
    width: 100%;
    font-size: 24px;
    border: none;
    color: #B5B5B5;
    outline: none;
    padding-left: 5px;
    background-color: transparent;
}

.container--chats-pacientes{
    background-color: #fff;
    height: 100%;
}

.container--chats-pacientes:hover{
    cursor: pointer;
}

.container-conversa{
    padding: 15px;
    font-family: var(--primary-font);
    font-size: 20px;
    border: 1px solid #B5B5B5;
}

.h3--chat{
    color: #37474F;
    font-weight: none;
}

.span--chat{
    color: #B5B5B5;
}

.container--mensagem{
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1--chat{
    font-family: var(--primary-font);
    color: var(--content-blue);
    font-size: 36px;
    padding-bottom: 15px;
}

.span--chat{
    font-family: var(--primary-font);
    font-size: 20px;
}

.container--post-img{
    width: 100%;
    height: 600px;
}

.img--post-principal{
    width: 100%;
    height: 600px;
}

.container--main-post{
    padding: 40px;
    font-family: var(--primary-font);
    font-size: 30px;
}

.h1--post{
    font-size: 40px;
    color: var(--content-blue);
    padding-bottom: 25px;
}

.ul--post{
    padding-left: 40px;
}

.p--post, .ul--post{
    font-weight: bold;
}

.post--parte1{
    border-bottom: 1px solid #000;
    padding: 50px;
    margin-bottom: 60px;
}

.post--parte2{
    padding-bottom: 100px;
}